:root {
    --text-color: rgb(50, 50, 50);
    --background-color: #ffffff;
    --light-background-color: #f4f4f4;
    --nav-bar-color: #ffffff;
    --selected-color: rgb(229, 241, 253);
    --action-text-color: #ffffff;
    --action-color: rgb(58, 99, 197);
    --border-color: darkgray;
}
  
h1 {
    color: white;
    margin: 0;
} 

h2 {
    text-align: center;
    
}

h3 {
    background-color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

html {
    margin-left: 20px;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    font-size: 24px;
    background: bisque;
    overflow-x: hidden;
}

.title {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.mobile-nav-toggle {
    display: none;
}

.primary-header-flex {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.primary-navigation li {
    margin: 0 10px;
}

.primary-navigation a {
    text-decoration: none;
    color: #f4f4f4;
    padding: 10px;
}

.primary-navigation a > span {
    font-weight: 1000;
    margin-inline-end: 0.65em;
}

.flex {
    display: flex;
    gap: var(--gap, 2rem);
    justify-content: flex-end;
}

@media (max-width: 40em) {
    .primary-navigation {
        --gap: 1em;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 10%;
        flex-direction: column;
        padding: 5rem 2em;
        transform: translateX(100%);
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background-image: url('hamburger_list.jpg'); 
        background-repeat: no-repeat;
        width: 50px; 
        height: 50px; 
        border: 0;
        aspect-ratio: 1;
        top: 4rem;
        right: 2rem;
    }

    .home-menu-item {
        display: none;
    }

    .table td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    .d-flex {
        flex-direction: column;
        align-items: start;
    }
}

@media (min-width: 40em) {
    .menu-bar {
        display: none;
    }

    .menu-bars {
        display: none;
    }
}

.mobile-nav-toggle[aria-expanded="true"] {
    background-image: url('close-button.png');
}

.logo_Instruction {
    margin: 0;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
}

.text p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
}

.text {
    background-color: rgb(80, 248, 248);
}

.previous_course {
    font-size: 40px;
    margin: 0;
    text-align: center;
}

.menu-item {
    margin-bottom: 0;
}

.header {
    display: flex;
    flex-direction: column;
}

body div.d-flex {
    background-color: rgb(0, 145, 255);
}

.d-flex p {
    font-size: 20px;
    margin-bottom: 20px;
}

.d-flex {
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    margin: 0px 25px;
}

table tr {
    display: flex; 
    height: 80px;
}

.property {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100%; 
}

button {
    padding-left: 0;
    padding-right: 0;
    background-color: rgb(80, 248, 248);
    width: 175px;
    height: 40px;
    border: 5px 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

.course_register {
    margin: 0;
    text-align: center;
}

.menu-item {
    margin-bottom: 0;
}

.search {
    padding: 10px;
    background-color: rgb(0, 145, 255);
    padding: 5px;
    margin: 0px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    text-align: left;
}

.search p {
    font-weight: bold;
    text-indent: 20px;
    font-size: 40px;
}

.search br {
    text-indent: 10px;
}

.search input {
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.search label {
    text-indent: 50px;
    display: flex;
    align-items: center;
}

input[name="name"] {
    margin-left: 100px; 
}

input[name="search"] {
    margin-left: 57px;
}

.search button {
    margin-left: 50px;
    font-size: 20px;
    font-style: italic;
}

#courseList {
    display: none;
}

#courseList.visible {
    display: block;
}
